@import "./font-awesome-4.7.0/css/font-awesome.min.css";
body {
background-color: #fdf9e1;
font-family: Arial, Helvetica, sans-serif;
margin: 0;
}
body, html {
    height: 100%;
}
html {
    box-sizing: border-box;
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
  }
.dark-mode {
    background-color: rgb(32, 43, 85);
    color: #333;
}
.navbar {
min-height:46px;
background-color: #fdf9e1;
position: sticky;
z-index: 1;
top: 0;
}
.navbar a {
float: left;
display: block;
font-size: 16px;
color: #333;
text-align: center;
padding: 14px 16px;
text-decoration: none;
}
.logobutton a{
padding:0;
}
.navbar .icon {
    display: none;
}
.dropdown {
float: left;
position:relative;
}
.dropdown .dropbtn {
font-size: 16px;
border: none;
outline: none;
color: #333;
padding: 14px 16px;
background-color: inherit;
font-family: inherit;
margin: 0;
}
.dropbtn a {
padding: 0px 0px;
}
.navbar a:hover, .dropdown:hover .dropbtn {
background-color: #ddd;
}
.dropdown-content {
display: none;
position: absolute;
background-color: #fdf9e1;
min-width: 160px;
box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
z-index: 1;
}
.dropdown-content a {
float: none;
color: black;
padding: 12px 16px;
text-decoration: none;
display: block;
text-align: left;
}
.dropdown-content a:hover {
background-color: #ddd;
}
.dropdown:hover .dropdown-content {
display: block;
}
@media screen and (max-width: 600px) {
    .navbar a:not(:first-child), .dropdown .dropbtn {
      display: none;
    }
    .navbar a.icon {
      float: right;
      display: block;
    }
  }
  
  @media screen and (max-width: 600px) {
    .navbar.responsive {position: relative;}
    .navbar.responsive .icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    }
    .navbar.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
    .navbar.responsive .dropdown {float: none;}
    .navbar.responsive .dropdown-content {position: relative;}
    .navbar.responsive .dropdown .dropbtn {
      display: block;
      width: 100%;
      text-align: left;
    }
.header-image{
  width: 100%;
  size: 10%;
  background-position: left;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  overflow: hidden;
}


.header-image-jpg{
    width: 100%;
    position: relative;
}


.header-text {
  text-align: center;
  font-size: 50px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}
.abonnement{
        position: relative;
        display: flex;
        justify-content: center;
    }
    .abonnement-boks{
        text-align: center;
        font-size: 20px;
        padding: 10px;
        float: left;
        margin: 5% auto;
        min-width: 100px;
        height: 300px;
        width:15%;
        background-color: rgb(250, 200, 70);
        border-radius: 25px;
    }
 
   .abonnement-pris{
        font-size: 20px;
    }    .abonnement-tekst{
        margin: 20% 20%;
        font-size: 16px;
    }
    .lesmer{
        display: inline-block;
        margin: auto auto;
        height: 40px;
        bottom: 10px;
    }
    .column{
        position: relative;
        display: flex;
        justify-content: center;
    }
    .column-box{
        text-align: center;
        font-family: "Comic Sans MS", "Comic Sans", cursive;
        font-size: 20px;
        padding: 10px;
        float: center;
        margin: 5% auto;
        min-width: 420px;
        height: auto;
        width:15%;
        background-color: rgb(250, 200, 70);
        border-radius: 25px;
    }
h1, h2{
        text-align: center;
}
@media screen and (max-width: 1260px) {
    .column {
      width: 100%;
      display: block;
    }
}